<article class="container container-fluid">
  <section class="create">
    <form>
      <div class="form-group">
        <label for="name">Document Id</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter document id" [(ngModel)]="name">
      </div>

      <div class="row">
        <div class="col-3">
          <button type="button" class="btn btn-success" (click)="downloadFile()">Download File</button>
        </div>

      </div>
      <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
    </form>
  </section>
</article>